@charset "utf-8";

@font-face{
    font-family: "Caviar Dreams";
    src: local("./font/CaviarDreams.ttf") format("truetype");
}

body {
    font-family: "Caviar Dreams", Fallback, sans-serif;
}

.barra{
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.barra a{
    float: left;
    color:white;
    opacity: 0.8;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.barra img{
    width: 30%;
    height: 10%;
}

.lateral{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 11.0%;
    left: 0%;
    background-color: black;
    padding-top: 20px;
    overflow-x: hidden;
}

.lateral a{
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-size: 21px;
}

.lateral a:hover{
    background-color: red;
    opacity: 0.8;
    color: white;
}

.main{
    height: 567px;
    margin-top: 7%;
    width: 84%;
    margin-left: 18%;
    color: black;
    border-radius: 4px;
    align-content: center;
    font-family: "Caviar Dreams", Fallback, sans-serif;
}



.estudiante{
    width: 200px;
    height: 300px;
    display: inline-block;
    box-shadow: 2px 2px 20px darkslategray;
    margin: 3% 3% 3% 3%;
    background-color: black;
    color: white;
    border-radius: 4%;
}

.foto img{
    width: 200px;
    height: 180px;
    margin-left: 0%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.estudiante:hover{
    transform: scale(1.2);
}

.nombre{
    text-align: center;
    padding: 25px;
}

.ver {
    text-align: center;
}

.formulario{
    margin-left: 10%;
    margin-top: 3%;
}

.formulario input[type=text], input[type=tel], input[type=date], input[type=email], textarea{
    width: 35%;
    padding: 10px;
    margin: 2px 0  10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario{
    width: 50%;
}

.estilo select, .estilo option{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
}

table, tr ,th, td {
    border: solid black 1px;
    border-collapse: collapse; 
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: center;
}


