@charset "utf-8";

@font-face{
    font-family: "Caviar Dreams";
    src: local("./font/CaviarDreams.ttf") format("truetype");
}

body {
    background-color: whitesmoke;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: century gothic;
    color: white;
    font-family: "Caviar Dreams", Fallback, sans-serif;
}

header{
    background-color: darkslategrey;
    opacity: 0.8;
    width: 50%;
    text-align: center;
    height: 15%;
    padding: 10px;
    margin-left: 25%;
    border-radius: 7px;
}

#nav{
    background-color: darkslategrey;
    opacity: 0.8;
    width: 50%;
    text-align: center;
    height: 15%;
    padding: 10px;
    margin-left: 25%;
    border-radius: 7px;
}
article {
    background-color: brown;
    opacity: 0.8;
    width: 50%;
    text-align: center;
    height: 15%;
    padding: 10px;
    margin-left: 25%;
    border-radius: 7px;
}

.box {
    background-color: gray;
    color: white;
    text-align: center;
    width: 60px;
    height: 35px;
    font-family: century gothic;
    font-size: 16pt;
}

.box2 {
    background-color: darkgreen;
    font-family: century gothic;
    text-align: center;
    width: auto;
    color: white;
    height: auto;
    border: solid darkgreen 1px;
    text-decoration: none;
    font-size: 16pt;
    padding: 2px;
    border-radius:5px;
}

li{
    display: inline-block;
    text-decoration: none;
    padding-top:3px;
}

a{
    display: inline-block;
    text-decoration: none;
    padding-top:3px;
}
.box3 {
    background-color: gray;
    font-family: century gothic;
    text-align: center;
    width: 175px;
    color: white;
    height: 45px;
    border: solid gray 1px;
    text-decoration: none;
    font-size: 16pt;
    padding: 2px;
}

.barra{
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.barra a{
    float: left;
    color:white;
    opacity: 0.8;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.barra img{
    width: 30%;
    height: 10%;
}

.lateral{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 11.7%;
    left: 0%;
    background-color: black;
    padding-top: 20px;
    overflow-x: hidden;
    border-radius: 2px;
}

.lateral a{
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-size: 21px;
}

.lateral a.active{
    background-color: crimson;
    color: white;
}

#txtBusqueda{
    padding: 6px;
    margin-top: 15px;
    margin-left: 455px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
}

.fa-search{
    float: right;
    padding: 7.5px 10px;
    margin-top: 15px;
    margin-right: 16px;
    background: crimson;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.lateral a:hover{
    background-color: red;
    opacity: 0.8;
    color: white;
}

.main{
    height: 567px;
    margin-top: 7%;
    width: 84%;
    margin-left: 18%;
    color: black;
    border-radius: 4px;
    align-content: center;
    font-family: "Caviar Dreams", Fallback, sans-serif;
}

.btnGuardar{
    background-color: blue;
}

.estudiante{
    width: 200px;
    height: 300px;
    display: inline-block;
    box-shadow: 2px 2px 20px darkslategray;
    margin: 3% 3% 3% 3%;
    background-color: crimson;
    color: white;
    border-radius: 4%;
    border: 2px solid black;
    font-family: "Caviar Dreams", Fallback, sans-serif;
}

.foto img{
    width: 200px;
    height: 180px;
    margin-left: 0%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom: 2px solid black;
}

.nombre{
    text-align: center;
    padding: 25px;
}

.ver a{
    padding: 10px;
    color: white;
    text-align: center;
    background-color:blue;
    width: 25px;
    margin-left: 2px;
    border-radius: 3px;
    text-decoration: none;
}

#ver{
    margin-left: 24%;
}

.notas a{
    padding: 10px;
    color: white;
    text-align: center;
    background-color:blue;
    width: 25px;
    margin-left:55%;
    margin-bottom: 50%;
    border-radius: 3px;
    text-decoration: none;
}
.ver a:hover{
    background-color: grey;
    color:black;
}

.formulario{
    margin-left: 10%;
    margin-top: 3%;
}

.formulario input[type=text], input[type=tel], input[type=date], input[type=email], select, textarea{
    width: 35%;
    padding: 10px;
    margin: 2px 0  10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario{
    width: 50%;
}

.opciones{
    margin-left: 85%;
}

.btnNuevo{
    width: 100px;
    height: 27px;
}

/* elementos para estilo de la tabla materia*/
.thbordes{
    border:1px solid black;
    background-color: rgb(226, 71, 71);
    color:white;
    font-family: "Caviar Dreams", Fallback, sans-serif;
    font-size: 30px;
    margin-left: 30%;
}
.thid{
    width: 200px;
    text-align: center;

}
.thMate{
    width: 320px;
    height:40px;
    text-align: center;
}
.thAc{
    width: 540px;
    text-align: center;
}
/*estas son las celdas*/
.tdbordes{
    border:1px solid black;
    background-color: rgb(219, 219, 219);
    text-align: center;
    font-family: Arial;
    height:30px;
}

.trbordes{
    border:1px solid black;
    background-color: rgb(219, 219, 219);
}
/*elementos de la tabla*/
.sectiontable{
    background-color: rgba(44, 39, 39, 0.753);
    border-radius:10px;
    width: 85%;
}
.tablaborde{
    padding: 30px;
}
/* propiedades de tabla actualizar por que no me agarro los de arriva :'V */
.tablaFondo{
    background-color: rgba(44, 39, 39);
    border-radius:5px;
}
.thcolor{
    border:1px solid black;
    background-color: rgb(226, 71, 71);
    color:white;
}
.btnizquierda{
    margin-left: 80px;
}
.btncolor{
    background-color: rgb(212, 14, 14);
    color: white;
    border-top:none !important;
    border-left: none !important;
    border:3px solid rgb(0,0,0);
}
.btncolor:hover{
    background-color: #818181;
    color: rgb(0,0,0);
    border-top:none !important;
    border-left: none !important;
    border:3px solid rgb(0,0,0);
    height:30px;
}
.h1tipo{
    margin-left: 30%;
}

.detalle{
    width: 95%;
}

.detalle img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.detalle table{
    margin-left: 30%;
}

#fotoEstudiante{
    margin-left: 35%;
}

.detalle fieldset{
    width: 400px;
    margin-left: 25%;
}

.editar{
    color: white;
    text-align: center;
    background-color:blue;
    width: 55px;
    padding: 10px;
    font-size: 25px;
    border-radius: 3px;
    text-decoration: none;
}

.borrar{
    color: white;
    text-align: center;
    background-color: crimson;
    width: 55px;
    padding: 10px;
    font-size: 25px;
    border-radius: 3px;
    text-decoration: none;
}

.editar i{
    margin-left: 19%;
}

.borrar i{
    margin-left: 10%;
}

.editar:hover, .borrar:hover, .nuevo:hover{
    background-color: #818181;
    color:white;
}

.nuevo{
    color: white;
    text-align: center;
    background-color: crimson;
    width: 55px;
    padding: 10px;
    font-size: 25px;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 90%;
}